<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<connectionStrings>
		<!--tsr <add name="CMSXtreamConnection" connectionString="Data Source=DESKTOP-05EL6DR;Initial Catalog=CODE_TEST;User ID=CODE_TEST;Password=TEST_CODE" />-->
		<add name="CMSXtreamConnection" connectionString="Data Source=lindsissvr.database.windows.net,1433;Initial Catalog=LINDSIS_LIVE;User ID=LINDSIS_LIVE;Password=VTLpw1978;TransparentNetworkIPResolution=False" />
	</connectionStrings>
	<appSettings>
		<add key="BackUPFilePath" value="D:\LINDSIS Xtream\BackUPFile"/>
		<add key="AdminPhoneNumber" value=""/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
